.about__story {

}

.about__story-container {

}

.about__section-image {
    border-radius: 50%;
    overflow: hidden;
    transition: var(--transition);
}

.about__section-image:hover {
    filter: brightness(15px);
}

.about__section-content h1 {
    margin-bottom: 2rem;
}

.about__vision {

}

.about__vision-container {

}

.about__mission {

}

.about__mission-container {

}